# Generated .mailmap - Automated + SSOT Overrides

Boas van der Putten <boasvdp@gmail.com> Boas van der Putten <32385917+boasvdp@users.noreply.github.com>
Boas van der Putten <boasvdp@gmail.com> boasvdp <32385917+boasvdp@users.noreply.github.com>
Boas van der Putten <boasvdp@gmail.com> boasvdp <boasvdp@gmail.com>
GitHub Actions Bot <['41898282+github-actions[bot]@users.noreply.github.com']> github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
Roxanne Wolthuis <roxannewolthuis@hotmail.com> Roxanne Wolthuis <wolthuir@rivm-biohn-l05p.int.ssc-campus.nl>
Roxanne Wolthuis <roxannewolthuis@hotmail.com> Roxanne Wolthuis <wolthuir@rivm-biohn-l06p.int.ssc-campus.nl>
Roxanne Wolthuis <roxannewolthuis@hotmail.com> Roxanne Wolthuis <wolthuir@rivm-biohn-l08p.int.ssc-campus.nl>
Roxanne Wolthuis <roxannewolthuis@hotmail.com> Roxanne Wolthuis <wolthuir@rivm-biohn-l11p.int.ssc-campus.nl>